.instruction {
  position: absolute;
  max-width: 9rem;
  top: 1rem;
  left: 0;
  padding: .5rem 1rem;
  border-bottom-right-radius: 10px;
  transform: translateX(-100%);
  transition: transform .3s ease-in-out;

  &,
  &__switcher {
    font-size: 1.2rem;
    color: $colorPrimary;
    background-color: $colorWhite;
  }

  &__switcher {
    position: absolute;
    top: 1.5rem;
    right: -4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 3rem;
    outline: none;
    cursor: pointer;
    border: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transform: rotate(90deg);
  }

  &__text {
    padding-bottom: .3rem;
    padding-right: .3rem;
  }

  &__arrow {
    transform: rotate(-90deg);
  }

  &--active {
    transform: translateX(0);
    
    .instruction__arrow {
      transform: rotate(90deg);
    }
  }
}
