$colorPrimary: #3d2571ff;
$colorSecondary: #d40000ff;
$colorLighten: #ff6600ff;
$colorWhite: #fff;

@mixin flex-font($minFont, $maxFont) {
  font-size: calc(#{$minFont}px + (#{$maxFont} - #{$minFont}) * ((100vw - 600px) / (1440 - 600)));
}
